
body {
  background-color: #e4f9f5
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  color: #66BFBF;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  margin: 0;
  line-height: 2

}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a.navbar-brand:hover {
  color: black;
}

a.nav-link:hover {
  color: black;
}

a:hover {
  color: #EAF6F6;
}

.navbar-toggler {
  color:#40514E;
  background-color: #11999E;
}

.navbar {
  background: linear-gradient(
    to right bottom,
    rgba(255,255,255,0.7),
    rgba(255,255,255,0.3)
  )
}


.top-container {
  
  background: linear-gradient(to right top, #66BFBF, #e4f9f5);
  position: relative;
  padding-top: 100px;

}

.middle-container {
  margin: 100px 0;

}

.intro {
  width: 30%;
  margin: auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}

.bottom-planet {
  position: absolute;
  left: 5%;
  bottom: 35%;
  height: 300px;
  width: 300px;
}

.credits {
  color: #11999E;
  font-size: 0.75rem;
}

.top-planet {
  position: absolute;
  right: 10%;
  top: 2%;
  height: 250px;
  width: 250px;
}

.astronaut {
  bottom: 0;
  width: 250px;
  height: 300px;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;

}

.gym-img {
  width: 25%;
  float: right;
  margin-left: 30px;

}


.footer-link {
  color: #11999E;

}

.skill-row {
  width: 50%;
  margin: 100px auto 200px auto;
  text-align: left;

}

.network {
  margin: 30px auto;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC48D);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC48D);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC48D);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC48D);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC48D);
  text-decoration: none;
}

.cody {
  margin: 16px auto 16px;
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

/* Header text hover animation */
.programmer {
  background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(
    #CA4246 50.666%, 
    #E16541 50.666%, 
    #E16541 60.333%, 
    #F18F43 33.333%, 
    #F18F43 50%, 
    #8B9862 45%, 
    #8B9862 73.666%, 
    #476098 50.666%, 
    #476098 70.333%, 
    #A7489B 83.333%);
  
  /* Set the background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;
  
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: programmer-animation-rev 2s ease forwards;

  cursor: pointer;

}

.programmer:hover {
  animation: programmer-animation 2s ease forwards;
}

@keyframes programmer-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}

@keyframes programmer-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}